<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CurrencyManagement.DataAccessLayer.Properties.Settings.ConnectionString"
            connectionString="hi" />
        <add name="CurrencyManagement.DataAccessLayer.Properties.Settings.ConnectionTimeout"
            connectionString="180" />
    </connectionStrings>
</configuration>